# Importing necessary packages

In [1]:
import pandas as pd
import numpy as np
# import cPickle
import _pickle as cPickle 
from gensim.models import word2vec
import logging
import gensim
from sklearn.metrics.pairwise import cosine_distances,cosine_similarity
print("finished importing")

c:\anaconda\envs\machine_learning\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\anaconda\envs\machine_learning\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
c:\anaconda\envs\machine_learning\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

finished importing

# 50k data

In [41]:
import pandas as pd
import _pickle as cPickle
fk_df=pd.read_csv('data/skill2vec_50k.csv',header=None,encoding='ISO-8859-1') #reading the dataset
fk_df.head(5)

C:\Users\rbw19\AppData\Local\Temp\ipykernel_13380\81585873.py:3: DtypeWarning: Columns (34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,404,405,406,407,408,409,410,411,412,413,414,415,416,417,418,419,420,421,422,423,424,425,426,427,428,429,430,431,432,433,434,435,436,437,438,439,440,441,442,443,444,445,446,447,448,449,450,451,452,453,454,455,456,457,458,459,460,461,462,463,464,465,466,467,468,469,470,471,472,473,474,475,476,477,478,479,480,481,482,483,484,485,486,487,488,489,490,491,492,493,494,495,496,497,498,499,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,522,523,524,525,526,527,528,529,530,531,532,533,534,535,536,537,538,539,540,541,542,543,544,545,546,547,548,549,550,551,552,553,554,555,556,557,558,559,560,561,562,563,564,565,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,595,596,597,598,599,600,601,602,603,604,605,606,607,608,609,610,611,612,613,614,615,616,617,618,619,620,621,622,623,624,625,626,627,628,629,630,631,632,633,634,635,636,637,638,639,640,641,642,643,644,645,646,647,648,649,650,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,725,726,727,728,729,730,731,732,733,734,735,736,737,738,739,740,741,742,743,744,745,746,747,748,749,750,751,752,753,754,755,756,757,758,759,760,761,762,763,764,765,766,767,768,769,770,771,772,773,774,775,776,777,778,779,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,840,841,842,843,844,845,846,847,848,849,850,851,852,853,854,855,856,857,858,859,860,861,862,863,864,865,866,867,868,869,870,871,872,873,874,875,876,877,878,879,880,881,882,883,884,885,886,887,888,889,890,891,892,893,894,895,896,897,898,899,900,901,902,903,904,905,906,907,908,909,910,911,912,913,914,915,916,917,918,919,920,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,950,951,952,953,954,955,956,957,958,959,960) have mixed types. Specify dtype option on import or set low_memory=False.
  fk_df=pd.read_csv('data/skill2vec_50k.csv',header=None,encoding='ISO-8859-1') #reading the dataset

,0,1,2,3,4,5,6,7,8,9,...,951,952,953,954,955,956,957,958,959,960
0,125720,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,112708,Special Teacher,Teaching,Education,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,115226,consulting,fresher,IT helpdesk,Techincal Troubleshooting,international voice,international BPO,technical support,outsourcing,call center,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,19805,diploma,machining,cnc m,mould,conventional machines,die making,knowledge,tool,cipet,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,80208,Compensation,Benefits,HR Functions,Alm,Payroll,ESS,Core HR,QC,QA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
fk_df.drop([0],axis=1,inplace=True)

In [43]:
fk_df.fillna("",inplace=True)

In [45]:
fk_df.head(5)

,1,2,3,4,5,6,7,8,9,10,...,951,952,953,954,955,956,957,958,959,960
0,HR Executive,screening,selection,Interview,HR,Recruiter,IT Recruiter,Sourcing,recruitment executive,onboarding,...,,,,,,,,,,
1,Special Teacher,Teaching,Education,,,,,,,,...,,,,,,,,,,
2,consulting,fresher,IT helpdesk,Techincal Troubleshooting,international voice,international BPO,technical support,outsourcing,call center,BBA fresher,...,,,,,,,,,,
3,diploma,machining,cnc m,mould,conventional machines,die making,knowledge,tool,cipet,assembly,...,,,,,,,,,,
4,Compensation,Benefits,HR Functions,Alm,Payroll,ESS,Core HR,QC,QA,SQL,...,,,,,,,,,,

### lower casing

In [46]:
dataframe = fk_df.apply(lambda x: x.astype(str).str.lower())

### Join skill names with underscore

In [47]:
dataframe = dataframe.apply(lambda x: x.str.replace(' ', '_') if x.dtype == "object" else x)

In [48]:
dataframe.head(5)

,1,2,3,4,5,6,7,8,9,10,...,951,952,953,954,955,956,957,958,959,960
0,hr_executive,screening,selection,interview,hr,recruiter,it_recruiter,sourcing,recruitment_executive,onboarding,...,,,,,,,,,,
1,special_teacher,teaching,education,,,,,,,,...,,,,,,,,,,
2,consulting,fresher,it_helpdesk,techincal_troubleshooting,international_voice,international_bpo,technical_support,outsourcing,call_center,bba_fresher,...,,,,,,,,,,
3,diploma,machining,cnc_m,mould,conventional_machines,die_making,knowledge,tool,cipet,assembly,...,,,,,,,,,,
4,compensation,benefits,hr_functions,alm,payroll,ess,core_hr,qc,qa,sql,...,,,,,,,,,,

In [50]:
dataframe = dataframe.apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)

a="     jke neoijc oiejr rdln      ncoejc ndorj oijrolje noejrlk     "
print(a.strip())
print(a.strip().split(" "))

In [75]:
skill_sets=[]
for rows in dataframe:
    split_list = [s.strip() for s in rows.split(" ") if s.strip()] #strip removes leading and trailing empty spaces and returns string
    skill_sets.append(split_list)
    # break
# dataframe.iloc[0].split(" ")

len(skill_sets),skill_sets[1]
for rows in dataframe:
    for s in rows.split(" "):
        if s.strip():
            print(s.strip())
    break

### Remove Duplicates and eliminate repeatations

In [121]:

final_skill_set=[]
for skill_set in skill_sets:
    temp=[]
    for skill in skill_set:
        if skill not in temp: #eliminating skill repeatations within skill set
            temp.append(skill)
    if temp not in final_skill_set: #eliminaing skill sets repeatations
        final_skill_set.append(temp)

In [146]:
import pickle
with open("50k_skill_set_processed.pkl", "wb") as f:
    pickle.dump(final_skill_set,f)
# with open("50k_skill_set_processed.pkl","rb") as f:
#     a=pickle.load(f)
#     print(len(a))

In [129]:
skills=[]
for skillset in final_skill_set:
    for skill in skillset:
        if skill not in skills:
            skills.append(skill)

In [151]:
print('After processing 50k dataset has',len(final_skill_set),'skill sets and',len(skills),'skills')

After processing 50k dataset has 46810 skill sets and 53503 skills

# naukri_skill_full

In [196]:
import pandas as pd
data_naruki = pd.read_csv('data/naukri_skill_full', header = 0, encoding='ISO-8859-1')
data_naruki

            id                          skill
0            0                         CEASER
1            0                           CAAD
2            0                         Design
3            0                         piping
4            0           thermal power plants
...        ...                            ...
955295  185864                  Mainframe JCL
955296  185864              SQL coding tuning
955297  185864  System Development Life Cycle
955298  185864                            DB2
955299  185864                           SDLC

[955300 rows x 2 columns]

In [197]:
data_naruki.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 955300 entries, 0 to 955299
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      955300 non-null  int64
 1   skill   954948 non-null  object
dtypes: int64(1), object(1)
memory usage: 14.6+ MB

In [198]:
# data_naruki[data_naruki.isnull().any(axis=1)].index
# df[df.isnull().any(axis=1)]
data_naruki.drop(data_naruki[data_naruki.isnull().any(axis=1)].index.to_list(),axis=0,inplace=True)

In [199]:
data_naruki.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 954948 entries, 0 to 955299
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      954948 non-null  int64
 1   skill   954948 non-null  object
dtypes: int64(1), object(1)
memory usage: 21.9+ MB

In [200]:
'Skill set :',len(data_naruki["id"].unique()),'skills :',len(data_naruki["skill"].unique())

('Skill set :', 120107, 'skills :', 113181)

In [201]:
# drop duplicate
data_naruki.drop_duplicates(subset=['id', 'skill'], keep='last')
# lower-case
data_naruki['skill'] = data_naruki['skill'].str.lower()
data_naruki['skill'] = data_naruki['skill'].str.replace(' ','_')
#grouping
data_naruki_final = data_naruki.groupby('id')['skill'].apply(list)
len(data_naruki_final),print("finished")

finished

(120107, None)

In [202]:
final_naukri_skill_set=[]
for skill_set in data_naruki_final:
    temp=[]
    for skill in skill_set:
        if skill not in temp: #eliminating skill repeatations within skill set
            temp.append(skill)
    if temp not in final_naukri_skill_set: #eliminaing skill sets repeatations
        final_naukri_skill_set.append(temp)

In [205]:
len(final_naukri_skill_set)

107319

In [206]:
import pickle
with open("naukri_skill_set_processed.pkl", "wb") as f:
    pickle.dump(final_naukri_skill_set ,f)
# with open("naukri_skill_set_processed.pkl","rb") as f:
#     a=pickle.load(f)
#     print(a[1])

# prep_data_tokens_underscore_1

In [207]:
with open("data/prep_data_tokens_underscore_1", "rb") as g:
    data_dice = cPickle.load(g)
    print("Loaded sucessfully")
data_dice
len(data_dice) #data_dice contains set of skills

Loaded sucessfully

7146

lower case and # removing space are already done here

In [163]:
final_skill_set=[]
skills=[]
for skill_set in data_dice:
    temp=[]
    for skill in skill_set:
        if skill not in temp: #eliminating skill repeatations within skill set
            temp.append(skill)
            if skill not in skills:
                skills.append(skill)
    if temp not in final_skill_set: #eliminaing skill sets repeatations
        final_skill_set.append(temp)

In [164]:
print("Prep_data_tokens has",len(final_skill_set),'skill sets and',len(skills),'skills')

Prep_data_tokens has 7086 skill sets and 8358 skills

In [167]:
import pickle
with open("prep_data_skill_set_processed.pkl", "wb") as f:
    pickle.dump(final_skill_set ,f)
# with open("naukri_skill_set_processed.pkl","rb") as f:
#     a=pickle.load(f)
#     print(a[1])

# Must_have_skills

In [29]:
data_must_have = pd.read_csv('data/mustHaveSkills-2.csv',header = 0, encoding='ISO-8859-1') #reading the dataset
del data_must_have['job_brief_id'] #droping job_breif_id because this column doesn't have any relevance
data_must_have = data_must_have[data_must_have["job_title"] != 0] #take only the records which doesn't have zero for the column job_title

### lower casing

In [30]:
data_must_have['keyword_name'] = data_must_have['keyword_name'].str.lower() # coverting keyword_name column to lowercase
data_must_have['job_title'] = data_must_have['job_title'].str.lower()

### joining skill names

In [31]:
data_must_have['keyword_name'] = data_must_have['keyword_name'].str.replace(' ' ,'_') # replacing blank spaces with underscore in keyword_name column

### Remove duplicates

In [33]:
data_must_have.drop_duplicates(subset=['keyword_name', 'job_title'], keep='last',inplace=True) #drop the records which has same keyword and job_title 
data_must_have.shape

(72015, 2)

### group it based on job title

In [ ]:
gr_df_keywordname = data_must_have.groupby('keyword_name')['job_title'].apply(list) #group the dataset based on keyword_name 
gr_df_jobtitle = data_must_have.groupby('job_title')['keyword_name'].apply(list) #group the dataset based on keyword_name 
print("finished")

### convert to list

In [34]:
gr_df_jobtitle.iloc[3]

['.net',
 'asp.net',
 'javascript',
 'mobile_applications',
 'web_applications',
 'ios',
 'android']

In [35]:
final_skill_set=[]
skills=[]
for skill_set in gr_df_jobtitle:
    if len(skill_set) > 2:
        temp=[]
        for skill in skill_set:
            if skill not in temp: #eliminating skill repeatations within skill set
                temp.append(skill)
                if skill not in skills: #used for counting the number of skills can be commented if not needed
                    skills.append(skill)
        if temp not in final_skill_set: #eliminating repeated skillset across the data
            final_skill_set.append(temp)

In [37]:
"In the dataset we have",len(final_skill_set),"skillset and",len(skills),"skills"

('In the dataset we have', 2602, 'skillset and', 6830, 'skills')

In [19]:
import pickle
with open("preprocessed/must_have_skill_set_processed.pkl", "wb") as f:
    pickle.dump(final_skill_set ,f)
# with open("naukri_skill_set_processed.pkl","rb") as f:
#     a=pickle.load(f)
#     print(a[1])